  .formcontainer {
    background: rgba(255, 255, 255, 0.7);
    /* padding: 20px; */
    /* border-radius: 10px; */
    /* width: 90%; */
    /* max-width: 400px; */
  }
  
    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
  }
  
  input, select, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  button {
    background-color: #333;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  .label{
   color: #000;
  }